h1 {
  margin: 0;
}

.App {
  background-color: #373d48;
  color: white;
  display: flex;
  justify-content: space-around;
}

.App-container {
  background-color: #5a5f6b;
  width: 50vh;
  height: 100vh;
  display: flex;
  flex-direction: column;  
  border-top: 5vh white;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  width: 100%;
  text-align: center;
  font-size: 2vmin;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.App-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.App-todo-list {
  flex: 1 1 auto;
  overflow-y: auto;
  color: white;
  height: 0;
  padding: 4vmin 4vmin;
}

.App-todo-add {
  background-color: #282c34;
  padding: 4vmin 4vmin;
  display: flex;
  justify-content: center;
}

ul {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}